<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <container>
        <register type="Prelude.WebFormsSample.Core.PersonSection.IPersonEntities, Prelude.WebFormsSample.Core" mapTo="Prelude.WebFormsSample.Data.PersonSection.PersonEntities, Prelude.WebFormsSample.Data">
          <lifetime type="singleton" />
        </register>
        <register type="Prelude.WebFormsSample.Core.Interfaces.IPersonRepository, Prelude.WebFormsSample.Core" mapTo="Prelude.WebFormsSample.Data.Repositories.PersonRepository, Prelude.WebFormsSample.Data">
          <lifetime type="singleton"/>
        </register>
        <register type="Prelude.WebFormsSample.Core.Interfaces.IAddressRepository, Prelude.WebFormsSample.Core" mapTo="Prelude.WebFormsSample.Data.Repositories.AddressRepository, Prelude.WebFormsSample.Data">
          <lifetime type="singleton"/>
        </register>
      </container>
  </unity>
  <connectionStrings>
    <add name="PersonEntities" connectionString="metadata=res://*/PersonSection.PersonModel.csdl|res://*/PersonSection.PersonModel.ssdl|res://*/PersonSection.PersonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpModules>
      <add name="UnityHttpModule" type="Prelude.WebFormsSample.Web.UnityHttpModule" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>